<h1>Feed : <%= @feed.name %> Entries</h1>


<div class="container">
  <% @entries&.each_with_index do |entry, i| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= i+1 %> : <%= link_to entry.title, entry %> - <i> published_at <%= entry.published %></i>
        </div>
      </div>
  <% end %>
</div>

<td><%= link_to 'Go to Feed', @feed %></td>
