<h1>Entry : </h1>


<div class="container">
  <h3><%= link_to @entry.title, @entry.url, target: '_blank' %></h3>
  <i>published on <%= @entry.published %> by <%= @entry.author %></i>
  <p>
    <%= @entry.content.html_safe %>
  </p>
</div>

<td><%= link_to 'Go to Feed', entries_path(@entry.feed) %></td>
